{% extends "base/base.html" %}
{% load static %}
{% block title %}Home — Lunaris Beauty{% endblock %}
{% block content %}

<section class="hero">
  <div class="container">
    <div class="hero-canvas">
      <button class="hero-arrow left" data-hero-dir="-1" aria-label="Anterior">‹</button>
      <img id="hero-img" src="{% static 'core/img/hero/hero1.png' %}" alt="Banner principal">
      <button class="hero-arrow right" data-hero-dir="1" aria-label="Siguiente">›</button>
      <a class="btn btn-ghost hero-cta" href="#">Ver producto</a>
    </div>
  </div>
</section>


<section class="container section-header">
  <h2>PRODUCTOS DESTACADOS</h2>
  <a class="btn btn-chip" href="#">Ver todo</a>
</section>

<section class="container section-with-arrows">
  <button class="arrow-btn arrow-left" data-target="#grid-top" data-dir="-1">‹</button>
  <button class="arrow-btn arrow-right" data-target="#grid-top" data-dir="1">›</button>

  <div id="grid-top" class="grid-products">

    {% for product in products %}
      {% include "partials/_product_card.html" with product=product %}
    {% empty %}
      <p>No hay productos disponibles en este momento.</p>
    {% endfor %}
    </div>
</section>

<section class="container section-header">
  <h2>PRODUCTOS para ti</h2>
  <a class="btn btn-chip" href="#">Ver todo</a>
</section>

<section class="container section-with-arrows">
  <button class="arrow-btn arrow-left" data-target="#grid-bottom" data-dir="-1">‹</button>
  <button class="arrow-btn arrow-right" data-target="#grid-bottom" data-dir="1">›</button>

  <div id="grid-bottom" class="grid-products">

    {% for product in products %}
      {% include "partials/_product_card.html" with product=product %}
    {% empty %}
      <p>No hay productos disponibles en este momento.</p>
    {% endfor %}
    </div>
</section>

{% endblock %}
{% block scripts %}
  <script>
    window.HERO_SLIDES = ["{% static 'core/img/hero/hero1.png' %}"];
  </script>
{% endblock %}