<header class="container nav">
  <a class="brand" href="/"><img src="{% static 'core/img/logo.svg' %}" alt="Lunaris" width="28" height="28"><strong>LUNARIS <span>BEAUTY</span></strong></a>
  <nav class="menu">
    <div class="dropdown">
      <button>Tipos de piel ▾</button>
      <ul>
        <li><a href="#">Piel grasa</a></li>
        <li><a href="#">Piel con acné</a></li>
        <li><a href="#">Piel seca</a></li>
        <li><a href="#">Piel madura</a></li>
        <li><a href="#">Piel mixta</a></li>
        <li><a href="#">Piel sensible</a></li>
      </ul>
    </div>
    <a href="#">Rostro</a>
    <a href="#">Maquillaje</a>
    <a href="#">Cuerpo</a>
    <a href="#">Cabello</a>
    <a href="#">Kits</a>
    <a class="icon" href="#" title="Carrito">🛒</a>
    <a class="icon" href="#" title="Favoritos">♡</a>
    <form class="search"><input placeholder="Buscar"></form>
  </nav>
</header>
