{% load static %}
<article class="card">
  <button
    class="wish {% if product.is_favorited %}is-active{% endif %}"
    aria-label="Favorito"
    {% if product.id %}data-product-id="{{ product.id }}"{% endif %}
  >
    ♡
  </button>

  <div class="thumb">
    <img src="{{ product.image.url }}" alt="{{ product.name }}">
  </div>

  <div class="card-body">
    <h3 class="card-title">{{ product.name }}</h3>

    {% with first_size=product.sizes.first %}
      {% if first_size %}
        <p class="card-price">${{ first_size.price }}</p>
      {% else %}
        <p class="card-price">Sin precio</p>
      {% endif %}
    {% endwith %}

    <button
  class="btn btn-primary btn-cart"
  data-action="add-to-cart"
  data-id="{{ product.id }}"
  data-name="{{ product.name }}"
  data-image="{{ product.image.url }}"
  data-desc="{{ product.description|default:'' }}"
  data-ingredients="{{ product.ingredients|default:'' }}"
  data-howto="{{ product.how_to_use|default:'' }}"
  data-warnings="{{ product.warnings|default:'' }}"
  data-benefits="{% for b in product.benefits.all %}{{ b.name }}{% if not forloop.last %}|{% endif %}{% endfor %}"
  data-sizes='[
    {% for s in product.sizes.all %}
      {"size": "{{ s.size }}", "price": "{{ s.price }}"}{% if not forloop.last %},{% endif %}
    {% endfor %}
  ]'
>
  Agregar al carrito
</button>

  </div>
</article>
