<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% block title %}Lunaris Beauty{% endblock %}</title>
  {% load static %}
  <link rel="icon" href="{% static 'core/img/logo.svg' %}">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'core/css/theme.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/components.css' %}">
  {% block head %}{% endblock %}
</head>
<body>
  {% include "partials/_navbar.html" %}
  <main>
    {% block content %}{% endblock %}
  </main>
  {% include "partials/_footer.html" %}
  <script src="{% static 'core/js/main.js' %}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
